@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

<form action="@routes.HomeController.uploadAndReverse()" method="post" enctype="multipart/form-data">
    <h1>Please select a .txt file</h1>

    <input type="file" name="text">
    </br>
    </br>
    <button name="submit" value="submit" type="submit">Submit</button>
</form>

@if(flash.containsKey("error")){
    <label style="color:red">@flash.get("error")</label>
}
}